@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.inList {
  composes: root;

  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
  }
}

.card {
  &:first-child {
    @media (min-width: 768px) {
      margin: 0 0 0 30vh;
    }
    @media (max-width: 768px) {
      margin: 0;
    }
  }

  &:last-child {
    @media (min-width: 768px) {
      margin: 0 30vh 0 0;
    }    
    @media (max-width: 768px) {
      margin: 0;
    }

  }

  @media (max-width: 768px) {
    margin-top: 10vh!important;
    width: 90vw!important;

  }

  margin: 0 0 0 15vh;
  font-family: var(--font-family-monospace);
  font-weight: 100;
  position: relative;
  display: inline-block;
  white-space: pre-wrap;
  width: 40vw;
  max-height: 50vh;
}

.inGrid {
  composes: root;
}

.mainImage {
  max-height: 40vh;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  @media (max-width: 768px) {
    width: 100%;
  }
  &:hover {
    opacity: 1;
  }
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: var(--color-very-light-gray);



  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text {
  /* empty */
}

.title {
  font-size: 24px;
  font-style: italic;
  transform: translateX(70px);
  margin-top: 2em!important;
  @media (max-width: 768px) {
    transform: translateX(20px);
    font-size: 20px;
    width: 100%;
  }
  &::before {
    content: "";
    position:absolute;
    top:10px;
    left:-35px;
    width: 0;
    height: 0;
    transform: rotate(90deg);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid white;
  }
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }

  @media (--media-min-medium) {
    @nest .inList & {
      margin-top: 0;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}

.date {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--color-gray);
}
