@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';


.root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.inList {
  composes: root;

  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
  }
}

.card {
  &:first-child {
    @media (min-width: 768px) {
      margin-left: 20vw;
    }
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &:last-child {
    @media (min-width: 768px) {
      margin-right: 20vw;
    }    
    @media (max-width: 768px) {
      margin-left: 0;
    }

  }

  @media (max-width: 768px) {
    margin-top: 10vh!important;
    width: 90vw!important;
  }
  

  margin: 0 15vh;
  font-family: var(--font-family-monospace);
  font-weight: 100;
  position: relative;
  display: inline-block;
  white-space: pre-wrap;
}

.inGrid {
  composes: root;
}

.mainImage {
  max-height: 40vh;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
  position: relative;
  object-fit: cover;
  &:hover {
    opacity: 1;
  }
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: var(--color-very-light-gray);



  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text {
  /* empty */
}

.title {
  z-index: 8;
  font-size: 20px;
  font-style: italic;
  transform: translateX(40px);
  margin-top: 1em!important;
  max-width: 400px;
  max-height: 50vh;

  &::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -50px;
    width: 300px;
    height: 100px;
    transform: rotate(-12deg);
    background: #ccc;
    opacity: 0.2;
    bottom: 0;
    z-index: -1;
  }

  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }

  @media (--media-min-medium) {
    @nest .inList & {
      margin-top: 0;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}

.date {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--color-gray);
}
