@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';




.root {
  position: relative;
  z-index: 100;
  @nest & .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
    & .bm-burger-bars {
      background: #fff;
    }
  }
  
  /* Color/shape of burger icon bars */

}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 1em;
  display: flex;

  @media (max-width: 768px) {
    padding: 1.5em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.icon {
  height: 32px;
  @nest & svg {
height: 32px;
width: 32px;
  }
}

.branding {
  font-weight: 600;
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: var(--font-family-monospace);
  @nest & a {
    display: inline-block;
    padding: 0.5em;
    color: inherit;
    text-decoration: none;
    @media (max-width: 768px) {
      padding: 0;
    }
    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;

  & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  flex: 1;
  @nest & ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
    & a {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    & a.active {
      font-weight: 700;
    }
  }
  & a.active {
    font-weight: 700;
  }
}

.showNav {
  display: block;
}

.menuContainer {
  position: relative;
  height: 32px;
}

.mobMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  padding: 1em 1.5em;
  background: #111;
  line-height: 2;
  text-decoration: none;
}

.themes {
  display: flex;
  align-items: flex-start;
  flex: 0 0 200px;
  justify-content: flex-end;
  margin-top: 1.5rem;
  @nest & button {
    background: transparent;
    border: 0;
    font-size: 18px;
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    display: flex;
    cursor: pointer;
    & svg {
      margin-right: 7px;
      margin-top: -2px;
      width: 25px;
      height: 25px;
    }
  }
}